@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

.main {
  font-family: "Arimo", sans-serif;
  margin: 100px auto;
  width: 600px;
  border: 2px solid #e39520;
  padding: 20px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-box > h1 {
  margin: 0;
}

.task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px 30px;
  margin: 10px 0;
}

.task-data {
  flex: 1;
}

.task-btn {
  padding-left: 20px;
  display: flex;
  column-gap: 10px;
}

.task-box:hover {
  background-color: #ffe0c7;
}

.task-box.reminder {
  border-bottom: 5px solid #0eb100;
}

.ant-row.ant-form-item {
  justify-content: center;
}
