@import "~antd/dist/antd.css";

.main {
  margin: 100px auto;
  width: 50%;
  border: 2px solid #e39520;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  margin: 0;
}

.task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 10px 0;
}

.task-box:hover {
  background-color: #ffe0c7;
}
